<p>
  <strong>Title:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<p>
  <strong>Total:</strong>
  <%= item.total %>
</p>

<%= link_to 'Back', root_path %>
