<div class="container">
    <% @items.each do |item| %>

        <%# <div class="card"> %>
                <h3><div><%= item.description %></div></h3>
                <h3><div>Price <%= item.price %></div></h3>
                <%# set up enum later...do NOT forget! %>
                 <h3><div><%#= article.availability %></div></h3>
               <div><%= link_to " Add to cart", new_order_path(@order)%></div>
          <%# </div> %>

    <% end %>
  </div>

<br>

<div class="back_main">
  <%=  link_to "Back to Main Page", root_path%>
</div>
